<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Data.WPF" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.Grid.WPF" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.GridCommon.Wpf" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.Linq.Base" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.SfGrid.WPF" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.SfInput.WPF" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.SfShared.WPF" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.SfSkinManager.WPF" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="19.2.0.44" targetFramework="net46" />
  <package id="Syncfusion.Themes.FluentDark.WPF" version="19.2.0.44" targetFramework="net46" />
</packages>